username = 'PRONOTE_USERNAME'
password = 'PRONOTE_PASSWORD'
url = 'PRONOTE_URL'
token = 'BOT_TOKEN'
admin = 'ADMIN_ID'
probote_channel = BOT_CHANNEL_ID
version_number = '1.0.0'

folderHierarchy = """{
	"general_folder": {
		"id": "FOLDER_ID",
		"displayName": "Dossier général",
		"subfolders": [
            {
				"name": "maths_folder",
				"id": "FOLDER_ID",
				"displayName": "Maths",
				"subfolders": []
			},
			{
                "name" : "dutch_folder",
				"id": "FOLDER_ID",
				"displayName": "Allemand",
				"subfolders": []
			},
			{
                "name" : "english_folder",
				"id": "FOLDER_ID",
				"displayName": "Anglais",
				"subfolders": []
			},
			{
                "name" : "spanish_folder",
				"id": "FOLDER_ID",
				"displayName": "Espagnol",
				"subfolders": []
			},
			{
                "name" : "history_folder",
				"id": "FOLDER_ID",
				"displayName": "Histoire",
				"subfolders": []
			},
			{
                "name" : "computerscience_folder",
				"id": "FOLDER_ID",
				"displayName": "ISN",
				"subfolders": []
			},
			{
                "name" : "physics_folder",
				"id": "FOLDER_ID",
				"displayName": "Physique-chimie",
				"subfolders": []
			},
			{
                "name" : "philosophy_folder",
				"id": "FOLDER_ID",
				"displayName": "Philosophie",
				"subfolders": []
			},
			{
                "name" : "engineering_folder",
				"id": "FOLDER_ID",
				"displayName": "Sciences ingénieur",
				"subfolders": []
			}
		]
	}
}"""
